<div class="container mt-4">
    <h3>Mes Cours</h3>

    <div class="table-responsive bg-white shadow-sm rounded">
        <table class="table table-hover mb-0">
            <thead class="table-light">
                <tr>
                    <th>ID</th>
                    <th>Titre</th>
                    <th>Description</th>
                    <th>Dates</th>
                </tr>
            </thead>
            <tbody>
                <div *ngIf="coursList">
                    <tr *ngFor="let cours of coursList">
                        <td>{{ cours.id }}</td>
                        <td>{{ cours.nom }}</td>
                        <td>{{ cours.description || '-' }}</td>
                    </tr>
                    <tr *ngIf="coursList.length === 0">
                        <td colspan="4" class="text-center py-4 text-muted">Aucun cours assigné</td>
                    </tr>
                </div>

            </tbody>
        </table>
    </div>
</div>